<nav>
    <a href="{{ path('app_default') }}"><img src="{{ asset('assets/logos/logo_clearskysolar.png') }}" alt="logo"
                                             class="nav-logo"></a>

    <div class="d-flex justify-content-center align-items-center gap-2">
        {% if app.request.attributes.get('_route') != 'app_default' %}
            <a href="{{ path('app_default') }}" class="mx-2">startpagina</a>
        {% endif %}
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                <i class="fa-solid fa-user"></i></button>
            <ul class="dropdown-menu">

                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_admin') }}" class="dropdown-item">admin</a>
                {% endif %}

                {% if app.user %}
                    {% if app.request.attributes.get('_route') != 'app_statistieken' %}

                        <a href="{{ path('app_statistieken') }}" class="dropdown-item">mijn panelen</a>
                    {% endif %}

                    {% if app.request.attributes.get('_route') != 'app_order_history' %}
                        <li><a href="{{ path('app_order_history') }}" class="dropdown-item">mijn bestellingen</a></li>
                    {% endif %}
                {% endif %}


                {% if app.user %}
                    <li><a href="{{ path('app_logout') }}" class="dropdown-item">uitloggen</a></li>
                {% else %}
                    <li><a href="{{ path('app_login') }}" class="dropdown-item">inloggen</a></li>
                {% endif %}
                {% if app.request.attributes.get('_route') != 'app_contact' %}
                    <li><a href="{{ path('app_contact') }}" class="dropdown-item">contact</a></li>
                {% endif %}

            </ul>
        </div>

        <a href="#" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
           aria-controls="offcanvasRight" class="cart"><i
                    class="fa-solid fa-cart-shopping cart-icon text-black mx-3"><span
                        class="counter"
                        id="cart-counter"></span></i></a>
    </div>

</nav>

<!-- Shopping cart -->
<div class="offcanvas offcanvas-end shopping_cart" tabindex="-1" id="offcanvasRight"
     aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h4 class="offcanvas-title" id="offcanvasRightLabel">Winkelwagen</h4>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body cart d-flex flex-column justify-content-between">

        <!-- added products -->
        <div id="cart-content">
        </div>

        <div>
            <p id="total-price"></p>
            {% if app.request.get('_route') == "app_order" %}
                <a class="order_btn" href="{{ path('app_order') }}">Wijzig Bestelling</a>
            {% else %}
                <a class="order_btn" href="{{ path('app_order') }}">Verder naar bestellen <i
                            class="fa-solid fa-arrow-right mx-1"></i></a>
            {% endif %}
        </div>

    </div>
</div>
