{#<div style="background: linear-gradient(to left, #9cd5aa, #68b38e); padding: 20px;">#}
{#    <h1 style="margin: 0; padding: 0; color: #0a0a0a;">Qeuqen</h1>#}
{#    <h1 style="font-size: 22px; color: #0a0a0a;">Order Confirmation</h1>#}
{#    <p style="font-size: 15px; color: #0a0a0a;">Dear {{ name }}, your order has been confirmed. Here are the details:</p>#}

{#    <p style="color: #0a0a0a;">Your order was placed on: {{ orderedAt|date('d-m-Y H:i') }}</p>#}
{#    <p style="color: #0a0a0a;">Chosen date and time: {{ order.date|date('d-m-Y') }} {{ order.time|date('H:i') }}</p>#}

{#    <h2 style="font-size: 18px; color: #0a0a0a;">Ordered Items:</h2>#}
{#    <ul>#}
{#        {% for orderItem in orderItems %}#}
{#            <li style="color: black;">{{ orderItem.quantity }}x {{ orderItem.item }} (€{{ orderItem.price }})</li>#}
{#        {% endfor %}#}
{#    </ul>#}

{#    <p style="color: #0a0a0a;">Total Price: €{{ totalPrice }}</p>#}

{#    <a href="http://localhost/clearskysolar/public/" style="color: black; padding: 7px 26px;#}
{#        background-color: #EFEFEF; text-decoration: none; border-style: solid; border-width: 3px; border-top-color: grey;#}
{#        border-right-color: black; border-bottom-color: black; border-left-color: grey; font-weight: bold;">Go back to the website</a>#}
{#</div>#}