{% extends 'base.html.twig' %}

{% block body %}

    <!-- flash messages -->
    {% for message in app.flashes('registration_success') %}
        <div class="alert alert-success my-4 mx-auto text-center" style="width: fit-content;">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('order_success') %}
        <div class="alert alert-success mx-auto my-5 p-4 text-center" style="width: fit-content;">
            {{ message }}
        </div>
    {% endfor %}

    <div class="herosection">
        <div class="row d-flex align-items-center justify-content-center text-center">
            <div class="col-xl-6 my-5">
                <h1 data-aos="fade-right" data-aos-duration="1200">Ontdek de Kracht van Zonne-energie
                    en begin je Duurzame Toekomst met <span>ClearSky Solar!</span>
                </h1>
            </div>
            <div class="col-xl-6 d-flex align-items-center justify-content-center" data-aos="fade-up-left"
                 data-aos-duration="1200">
                <img src="assets/images/page/solar_panel.jpg" class="hero_img">
            </div>
        </div>
    </div>

    <!-- producten -->
    <div class="container products">
        <div class="row">
            <h2 class="text-center"><i class="fa-solid fa-solar-panel"></i> Onze producten</h2>
            <p class="text-center px-4">Bekijk hier onze paketten! Een afspraak kan op de bestelpagina
                worden gemaakt.</p>
            <hr class="mt-0 mb-5">

            {% for product in products %}
                <div class="d-flex my-3 product_card col-12 mx-auto" data-aos="fade-up" data-aos-duration="1000">
                    <img src="{{ asset('product_imgs/' ~ product.image_file) }}" class="product_img"
                         alt="{{ product.name }}">
                    <div class="d-flex flex-column mt-4">
                        <h3>{{ product.name }}</h3>
                        <p>{{ product.description }}</p>
                        <p class="fw-semibold">{{ product.quantity }}</p>
                        <div class="mt-auto card_div">
                            <p class="fw-semibold price">€ {{ product.price }}</p>
                            <a href="{{ path('product_view', {'name': product.name}) }}" class="mt-auto">Bekijken</a>
                        </div>
                    </div>

                </div>
                <hr>
            {% endfor %}

        </div>
    </div>

    <!-- how to use -->
    <div class="container how_to_use text-center col-md-5 col-10">
        <h2 class="mt-5" data-aos="fade-right" data-aos-duration="1200">Onze werkwijze</h2>
        <hr class="mx-auto">

        <h4 data-aos="fade-right" data-aos-duration="1300"><i class="fa-solid fa-screwdriver-wrench"></i> Installatie</h4>
        <p>Onze professionele installateurs komen bij u langs om uw zonnepanelen vakkundig te installeren.</p>

        <h4 data-aos="fade-right" data-aos-duration="1300"><i class="fa-solid fa-chart-column"></i> Monitoring</h4>
        <p>Volg de prestaties van uw panelen vanuit uw account met behulp van ons monitoringssysteem.</p>

        <h4 data-aos="fade-right" data-aos-duration="1300"><i class="fa-solid fa-building-shield"></i> Garantie</h4>
        <p>Met onze uitgebreide garantie bent u verzekerd van gemoedsrust en langdurige prestaties van uw zonnepanelen.</p>
    </div>

    <!-- over ons -->
    <div class="over_ons container text-center col-md-5 col-10">
        <h2 class="mt-5" data-aos="fade-right" data-aos-duration="1200">Over Ons</h2>
        <hr class="mx-auto">
        <h4 data-aos="fade-right" data-aos-duration="1200" class="mb-3"><i class="fa-solid fa-layer-group"></i> Wie zijn
            wij</h4>
        <p>Welkom bij ClearSkySolar! Uw partner in duurzame energieoplossingen in Nederland. Wij zijn
            gepassioneerd
            in het leveren van hoogwaardige zonnepaneeloplossingen, die niet alleen de energie-efficiëntie van uw huis
            of bedrijf verbeteren, maar ook bijdragen aan een schonere en groenere toekomst.</p>
        <h4 data-aos="fade-right" data-aos-duration="1200" class="mb-3"><i class="fa-solid fa-rocket"></i> Onze Missie
        </h4>

        <p>Bij ClearSkySolar hebben we ons tot doel gesteld om de transitie naar hernieuwbare energie te
            versnellen en
            tegelijkertijd onze klanten te voorzien van de best mogelijke service en ondersteuning. We geloven dat
            duurzame energie niet alleen een verantwoordelijkheid is, maar ook een kans om te innoveren en positieve
            veranderingen teweeg te brengen.</p>
    </div>

    <!-- contact -->
    <div class="contact container text-center col-md-5 col-8">
        <h4 data-aos="fade-right" data-aos-duration="1200" class="mb-3"><i class="fa-solid fa-paper-plane"></i> Neem
            Contact Met Ons Op</h4>
        <p class="mb-5">Of u nu geïnteresseerd bent in het installeren van zonnepanelen op uw woning of bedrijf, of
            gewoon meer wilt weten over de voordelen van zonne-energie, het team van ClearSkySolar staat voor u klaar.
            Neem vandaag nog contact met ons op voor een vrijblijvend adviesgesprek en ontdek hoe u kunt profiteren van
            de kracht van de zon.</p>
        <a href="{{ path('app_contact') }}" class="contact_link">Contact</a>
    </div>

{% endblock %}
