{% extends 'base.html.twig' %}

{% block body %}

    <!-- flash messages -->
    {% for message in app.flashes('registration_success') %}
        <div class="p-3">
            <div class="alert alert-success my-4 mx-auto text-center" style="width: fit-content;">
                {{ message }}
            </div>
        </div>
    {% endfor %}

    {% for message in app.flashes('order_success') %}
        <div class="p-3">
            <div class="alert alert-success mx-auto p-4 text-center" style="width: fit-content;">
                {{ message }}
            </div>
        </div>
    {% endfor %}

    <!-- herosection -->
    <div class="herosection">
        <img src="{{ asset('assets/images/page/hero-img.png') }}" data-aos="fade-right" data-aos-duration="2100">
        <h1 data-aos="fade-right" data-aos-duration="1700">Start jouw duurzaamheid met onze zonnepanelen!</h1>
        <p data-aos="fade-right" data-aos-duration="1200">Ontdek hoe zonne-energie een duurzame
            toekomst voor onze planeet en komende generaties mogelijk maakt</p>
    </div>

    <!-- producten -->
    <div class="container products">
        <div class="row">
            <h2 data-aos="fade-right" data-aos-duration="1200"><i
                        class="fa-solid fa-solar-panel"></i> ONZE PAKKETTEN</h2>
            <p class="text-center px-5" data-aos="fade-right" data-aos-duration="1400">Bekijk hier onze paketten! Een
                afspraak kan op de bestelpagina
                worden gemaakt</p>
            <hr class="mt-0 mb-5">

            {% for product in products %}
                <div class="my-3 product_card col-12 mx-auto" data-aos="fade-up" data-aos-duration="1000">
                    <img src="{{ asset('product_imgs/' ~ product.image_file) }}" class="product_img"
                         alt="{{ product.name }}">
                    <div class="d-flex flex-column mt-4">
                        <h3>{{ product.name }}</h3>
                        <p>{{ product.description }}</p>
                        <p class="fw-semibold">{{ product.quantity }}</p>
                        <div class="mt-auto card_div">
                            <p class="fw-semibold price">€ {{ product.price }}</p>
                            <a href="{{ path('product_view', {'name': product.name}) }}" class="mt-auto">Bekijken</a>
                        </div>
                    </div>

                </div>
                <hr>
            {% endfor %}

        </div>
    </div>


    <!-- aanpak -->
    <h2 data-aos="fade-right" data-aos-duration="1200">AANPAK</h2>

    <div class="container text-center p-5">
        <div class="row">

            <div class="col-xl-4 d-flex" data-aos="fade-up" data-aos-duration="1000">
                <div class="bg1 shadow-sm p-5 mb-4 card">
                    <i class="fa-solid fa-screwdriver-wrench fa-2xl mb-4"></i>
                    <h4 class="my-3">Installatie</h4>
                    <p>Zodra uw bestelling is geplaatst, komen onze professionele installateurs bij u langs
                        om uw zonnepanelen vakkundig te installeren.</p>
                </div>
            </div>

            <div class="col-xl-4 d-flex">
                <div class="bg2 shadow-sm p-5 mb-4 card" data-aos="fade-up" data-aos-duration="1300">
                    <i class="fa-solid fa-chart-column fa-2xl mb-4"></i>
                    <h4 class="my-3">Monitoring</h4>
                    <p>Nadat de panelen zijn geïnstalleerd, kunt u eenvoudig de prestaties van uw panelen
                        volgen vanuit uw account.</p>
                </div>
            </div>

            <div class="col-xl-4 d-flex">
                <div class="bg3 shadow-sm p-5 mb-4 card" data-aos="fade-up" data-aos-duration="1600">
                    <i class="fa-solid fa-user-shield fa-2xl mb-4"></i>
                    <h4 class="my-3">Garantie</h4>
                    <p>Met onze garantie waarborgen wij dat uw zonnepanelen langdurige prestaties zullen
                        leveren.</p>
                </div>
            </div>

        </div>
    </div>


    <!-- over ons -->
    <h2 data-aos="fade-right" data-aos-duration="1200">OVER ONS</h2>
    <div class="container text-center p-5">
        <div class="row">

            <div class="col-xl-4 d-flex" data-aos="fade-up" data-aos-duration="1000">
                <div class="bg4 shadow-sm p-5 mb-4 card">
                    <i class="fa-solid fa-layer-group fa-2xl mb-4"></i>
                    <h4 class="my-3">Wie zijn wij?</h4>
                    <p>Welkom bij ClearSkySolar, uw partner voor hoogwaardige zonnepaneeloplossingen in Nederland.
                        Verbeter de
                        energie-efficiëntie van uw huis of bedrijf en draag bij aan een schonere, groenere toekomst.</p>
                </div>
            </div>

            <div class="col-xl-4 d-flex" data-aos="fade-up" data-aos-duration="1300">
                <div class="bg5 shadow-sm p-5 mb-4 card">
                    <i class="fa-solid fa-rocket fa-2xl mb-4"></i>
                    <h4 class="my-3"> Onze Missie</h4>
                    <p>Bij ClearSkySolar versnellen we hernieuwbare energie met eersteklas service. Voor ons is duurzame
                        energie zowel een verantwoordelijkheid als een kans voor innovatie en positieve verandering.</p>
                </div>
            </div>

            <div class="col-xl-4 d-flex" data-aos="fade-up" data-aos-duration="1600">
                <div class="bg6 shadow-sm p-5 mb-4 card">
                    <i class="fa-solid fa-paper-plane fa-2xl mb-4"></i>
                    <h4 class="my-3">Neem Contact Op</h4>
                    <p class="mb-4">Bij ClearSkySolar staan we klaar om u te helpen, of het nu gaat om zonnepanelen voor
                        uw
                        woning
                        of bedrijf, of voor andere vragen. Neem gerust contact met ons op.</p>
                    <a href="{{ path('app_contact') }}" class="contact_link"><i class="fa-solid fa-envelope"></i> Contact</a>
                </div>
            </div>

        </div>
    </div>


{% endblock %}